name: 'CppCheck'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Install
      run: |
        ( cd /tmp
          git clone --depth 1 'https://github.com/danmar/cppcheck.git'
          cmake -S 'cppcheck' -B 'cppcheck/build'
          cmake --build 'cppcheck/build' --parallel 4
          sudo cmake --install 'cppcheck/build' )
        ( cd /tmp
          git clone --depth 1 'https://gitlab.com/libeigen/eigen'
          cmake -S 'eigen' -B 'eigen/build'
          cmake --build 'eigen/build' --parallel 4
          sudo cmake --install 'eigen/build' )
    - name: Verify
      run: |
        cppcheck \
          --enable=all \
          --error-exitcode=1 \
          --suppress=missingIncludeSystem \
          --suppress=unhandledChar \
          --suppress=unusedFunction: include/fcarouge/typed_linear_algebra_internal/format.hpp:58 \
          --verbose \
          -I include \
          -I support/eigen \
          -I support/eigexed \
          -I support/kokkos \
          -I support/main \
          -I support/mp_units \
          -I support/nested_typed_eigen \
          .
