name: 'Format'

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]
  schedule:
  - cron: '0 0 * * */5'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: 'Install'
      run: sudo apt update && sudo apt install cmake-format
    - name: 'Test'
      run: |
        find . \
          -iname '*.hpp' \
          -o -iname '*.cpp' \
          -o -iname '*.tpp' \
          | xargs \
          clang-format-18 --Werror --dry-run --verbose -style=file
        find . \
          -iname 'CMakeLists.txt' \
          -o -iname '*.cmake.in' \
          | xargs \
          cmake-format --check
